@import "normalize.css";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --black: #000;
  --white: #fff;
  --text-primary: #ccc;
  --font-family: "Inter", sans-serif;
  --text-primary: #202124;
  --text-gray: #4d5156;
  --text-blue: #1a0dab;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-size: 1.6rem; */
  text-rendering: optimizeLegibility;
  overflow-y: scroll;
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}
